


<div class="col-md-12 forms">
        <div class="row form-active">

        </div>

</div>


 <!--Pagination -->
<nav class="my-4">
    <ul class="pagination pagination-circle pg-blue mb-0">
        <!--Numbers-->
        <li class="page-item active"><a class="page-link">المواد الدراسية التي تجدها صعبة</a></li>
        <li class="page-item"><a class="page-link">المواد الدراسية التي تحبها</a></li>
        <li class="page-item"><a class="page-link">اللغات</a></li>
        <li class="page-item"><a class="page-link">دورات وورشات قمت بها</a></li>
        <li class="page-item"><a class="page-link">البرامج الحاسوبية التي تتقنها</a></li>
    </ul>
</nav>
<!--/Pagination -->